{% extends "base.html" %}

{% block content %}
<div class='container has-text-centered'>
  <div class='columns is-mobile is-centered'>
    <div class='column is-8'>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Command</th>
        </tr>
      </thead>

      <tbody>
        {% for command in commands %}
        <tr>
          <th>{{command}}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}