{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h1 class="title">Login SSH server</h1>
    <div class="box">
        <form action="" method="POST">
            <div class="field">
                <div class="control">
                    <input type="text" placeholder="Domain or IP" class="input is-large" name="address" value="{{request.form.address}}">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="text" placeholder="username" class="input is-large" name="username" value="{{request.form.username}}">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="password" placeholder="password" class="input is-large" name="password" value="{{request.form.password}}">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="number" placeholder="port" class="input is-large" name="port" value="{{request.form.port}}">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
</div>
{% endblock %}
